//COLORS AMERICAN PALLET
$colorMale: #0984e3;
$colorFemale: #e84393;

$colorFont: #ffeaa7;

$colorGrey: #b2bec3;
$colorBlack:#2d3436;
$colorWhite: #dfe6e9;


$mainGradient: linear-gradient(105deg, $colorMale 40%, $colorFemale 60%);
// $mainGradient: linear-gradient(105deg, $colorMale 40%, $colorFemale 60%);