//COLORS AMERICAN PALLET
$colorMale: #0984e3;
$colorFemale:#e84393;
$colorMaleAlpha: rgba(9, 133, 227, .85);
$colorFemaleAlpha:rgba(232, 67, 147, .85);

$colorFont: #ffeaa7;

$colorGrey: #b2bec3;
$colorBlack:#2d3436;
$colorWhite: #dfe6e9;
$blackBackground: rgba($color: #000000, $alpha: .75);

$mainGradient: linear-gradient(105deg, $colorMale 40%, $colorFemale 60%);
$mainGradientReverse: linear-gradient(105deg, $colorFemale 40%, $colorMale 60%);
$mainGradientAlpha: linear-gradient(105deg, $colorMaleAlpha 40%, $colorFemaleAlpha 60%);
$mainGradientReverseAlpha: linear-gradient(105deg, $colorFemaleAlpha 40%, $colorMaleAlpha 60%);

$textShadow: 1px 1px 2px $colorBlack;
$borderRadius: 7px;
$transitionTime: .2s;
$loaderBorderSize: 3px;

//RESPONSIVE
// $break-verySmall: 300px;
$break-small: 480px;
$break-midmedium: 720px;
$break-medium: 900px;
$break-big: 1100px;


//ANIMATIONS
@keyframes entryAnimation__text{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes entryAnimation__image{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

@keyframes entryAnimation__topBar{
    0%{transform: translateY(-100%);}
    100%{transform: translateY(-0);}
}

@keyframes rotateLoader{
    0% {
        transform: rotate(0deg);
        border-top: $loaderBorderSize solid $colorMale;
        border-bottom: $loaderBorderSize solid $colorFemale;
    }  
    50% {
        // transform: rotate(180deg);
        // border-top: $loaderBorderSize solid $colorFemale;
        // border-bottom: $loaderBorderSize solid $colorMale;
    }  
    100% {
        transform: rotate(360deg);
        border-top: $loaderBorderSize solid $colorMale;
        border-bottom: $loaderBorderSize solid $colorFemale;
    }  
  }

@mixin loaderStyle{
    padding: 8px;
    border-radius: 50%;
    border-top: $loaderBorderSize solid $colorMale;
    border-bottom: $loaderBorderSize solid $colorFemale;
    border-left: $loaderBorderSize solid transparent;
    border-right: $loaderBorderSize solid transparent;
    animation: rotateLoader linear 2s infinite;

}

