//COLORS AMERICAN PALLET
$colorMale: #0984e3;
$colorFemale: #e84393;

$colorThird: #ffeaa7;
$colorGrey: #b2bec3;
$colorBlack:#2d3436;
$colorWhite: #dfe6e9;

$mainGradient: linear-gradient(135deg, $colorMale 40%, $colorFemale 60%);