//SECTION BREAKDOWN
.chart-pieChart{
    fill: $colorFont;
    text-shadow: $textShadow;

    &__slices{
        opacity: .5;
        transition: transform .2s;
        cursor: pointer;

        &--M, &--Special{
            fill: $colorMale;
        }

        &--F, &--Regular{
            fill: $colorFemale;
        }
    }

    &__labels{
        text-anchor: middle;
        font-size: 1.75rem;  
    }

    &__numLabels{
        opacity: 0;
        text-anchor: middle;
        font-size: 1.5rem;
    }

    &__centerText{
        text-anchor: middle;
        font-size: 1.5rem;
        font-weight: 700;

        @media screen and (max-width: $break-small){
            font-size: 1.75rem;
        }
    }

}


.chart-boxplot{
    display: block;
    margin: 0 auto;   
    position: relative;

    width: 100%;
    height: 100%;

    &__rect{
        fill: #fff;
        stroke: #fff;
        
        &:hover{
            cursor: pointer;
            fill: lighten($color: #e84393, $amount: 5);
        }

        &--male{
            fill: #0984e3;

            &:hover{
                fill: lighten(#0984e3, 7);
            }
        }
        &--female{
            fill: #e84393;

            &:hover{
                fill: lighten(#e84393, 7);
            }
        }

        &--other{
            // fill: #7964bb;
            fill: url('#boxGradient');
            &:hover{
                fill: url('#boxGradientLighten');
            }
        }
    }
    
    &__median, &__minLine, &__maxLine, &__verticalLine{
        stroke: white;
    }

    &__outlierMax{
        fill: #0984e3;
        stroke: #fff;
        opacity: .5;

        &--male{
            fill: #0984e3,
        }
        &--female{
            fill: #e84393;
        }
    }
}
