//SECTION BREAKDOWN
.chart-pieChart{
    fill: $colorFont;
    text-shadow: $textShadow;

    &__slices{
        opacity: .5;
        transition: transform .2s;
        cursor: pointer;

        &--M, &--Special{
            fill: $colorMale;
        }

        &--F, &--Regular{
            fill: $colorFemale;
        }
    }

    &__labels{
        text-anchor: middle;
        font-size: 1.75rem;  
    }

    &__numLabels{
        opacity: 0;
        text-anchor: middle;
        font-size: 1.5rem;
    }

    &__centerText{
        text-anchor: middle;
        font-size: 1.5rem;
        font-weight: 700;

        @media screen and (max-width: $break-small){
            font-size: 1.75rem;
        }
    }

}