.heading{

    &--one{
        font-size: 8rem;
        letter-spacing: 10px;
    }

    &--two{
        font-size: 2rem;
    }
}

.fixedBar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(31, 2, 2, 0.363);

    &__title{

    }

    &__list{
        display: flex;
        list-style: none;
    }

    &__item{
        margin-right: 5px;
    }

    &__button{
        background-color: darken($colorWhite, 50%);
        width: 7.5rem;
        height: 3rem;
        outline: none;

        transition: background-color .2s;

        &:hover{
            background-color: darken($colorWhite, 55%);
        }

        &:active{
            transform: translate(0, 2px);
        }
    }
}

.logos{
    position: relative;
    

    &__block{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.15);
        width: 50%;
        height: 50%;

        &--male{
            left: 0;
            top: 0;
        }
    
        &--female{
            right: 0;
            bottom: 0;
        }

    }
    
   

}

.chart{

    &__title{

    }

    &__container{
        width: 400px;
        height: 400px;
        border: 1px solid white;

        &--priceCategory{
            width: 700px;
            
        }
    }

}


.chart-priceCategory, .chart-priceCatBoxChart{

    //AXIS
    &__axisLine{

        font-size: 15px;
        
        &--yLine{

            & path{
                stroke: white;
                opacity: .2;
            }

             & .tick line{
                opacity: .1;
             }

             & .tick text{
                opacity: 1;
            }
        }

        &--xLine{

            & path{
                stroke: white;
                stroke-width: .2px;
            }

            & .tick line{
                color: white;
            }
            & .tick line{
                stroke-width: .2px;
            }
        }
    }
    

    &__rect{
        fill: rgba(199, 12, 12, 1);
        stroke: white;

        &:hover{
            cursor: pointer;
            fill: rgb(226, 15, 15);
        }
    }


    &__verline, &__median, &__maxline, &__minline{
        stroke: white;
        fill: none;
    }

    &__circle{
        fill: rgba(12, 24, 199, 0.25);

    }


}