.heading{

    &--one{
        font-size: 10rem;
        letter-spacing: 10px;
    }

    &--two{
        font-size: 2rem;
    }
}

.fixedBar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(31, 2, 2, 0.3);

    &__title{

    }

    &__list{
        display: flex;
        list-style: none;
    }

    &__item{
        margin-right: 5px;
        height: 5rem;

        &:hover{
            background-color: rgba(31, 2, 2, 0.5);
        }

    }

    &__link{
        display: block;
        // background-color: darken($colorWhite, 50%);
        width: 7.5rem;
        cursor: pointer;

        text-align: center;
        line-height: 5rem;
        font-size: 1.6rem;

        transition: background-color .2s;

        

        &:active{
            transform: translate(0, 2px);
        }
    }
}

.centerBox{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    

    &__block{
        // position: absolute;
        // background-color: rgba(255, 255, 255, 0.15);
        width: 50%;
        height: 50%;

        &--text{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--female{
            color: $colorFemale;
            text-shadow: 2px 2px 10px $colorBlack;
        }
    
        &--male{
            color: $colorMale;
            text-shadow: 2px 2px 10px $colorBlack;
        }

    }

    &__image{
        width: 100%;
        height: 100%;

        &--male{
            fill: $colorFemale;
            -webkit-filter: drop-shadow( 3px 3px 2px $colorBlack);
            filter: drop-shadow( 3px 3px 2px $colorBlack);
        }

        &--female{
            fill: $colorMale;
            -webkit-filter: drop-shadow( 3px 3px 2px $colorBlack);
            filter: drop-shadow( 3px 3px 2px $colorBlack);
        }   
    }
    
   

}

.chart{

    &__title{

    }

    &__container{
        width: 400px;
        height: 400px;
        border: 1px solid white;

        &--priceCategory{
            width: 700px;
            
        }
    }

}


.chart-priceCategory, .chart-priceCatBoxChart{

    //AXIS
    &__axisLine{

        font-size: 15px;
        
        &--yLine{

            & path{
                stroke: white;
                opacity: .2;
            }

             & .tick line{
                opacity: .1;
             }

             & .tick text{
                opacity: 1;
            }
        }

        &--xLine{

            & path{
                stroke: white;
                stroke-width: .2px;
            }

            & .tick line{
                color: white;
            }
            & .tick line{
                stroke-width: .2px;
            }
        }
    }
    

    &__rect{
        fill: rgba(199, 12, 12, 1);
        stroke: white;

        &:hover{
            cursor: pointer;
            fill: rgb(226, 15, 15);
        }
    }


    &__verline, &__median, &__maxline, &__minline{
        stroke: white;
        fill: none;
    }

    &__circle{
        fill: rgba(12, 24, 199, 0.25);

    }


}