.heading{

    &--one{
        font-size: 8rem;
    }

    &--two{
        font-size: 1.5rem;
    }
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%;
}

.logos{
    position: relative;
    

    &__block{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.15);
        width: 50%;
        height: 50%;

        &--male{
            left: 0;
            top: 0;
        }
    
        &--female{
            right: 0;
            bottom: 0;
        }

    }
    
   

}

.chart{

    &__title{

    }

    &__container{
        width: 400px;
        height: 400px;
        border: 1px solid white;

        &--priceCategory{
            width: 700px;
            
        }
    }

}


.chart-priceCategory, .chart-priceCatBoxChart{

    //AXIS
    &__axisLine{

        font-size: 15px;
        
        &--yLine{

            & path{
                stroke: white;
                opacity: .2;
            }

             & .tick line{
                opacity: .1;
             }

             & .tick text{
                opacity: 1;
            }
        }

        &--xLine{

            & path{
                stroke: white;
                stroke-width: .2px;
            }

            & .tick line{
                color: white;
            }
            & .tick line{
                stroke-width: .2px;
            }
        }
    }
    

    &__rect{
        fill: rgba(199, 12, 12, 1);
        stroke: white;

        &:hover{
            cursor: pointer;
            fill: rgb(226, 15, 15);
        }
    }


    &__verline, &__median, &__maxline, &__minline{
        stroke: white;
        fill: none;
    }

    &__circle{
        fill: rgba(12, 24, 199, 0.25);

    }


}