.heading{

    &--one{
        font-size: 6.5rem;
        letter-spacing: 5px;

        @media screen and (max-width: $break-medium){
            font-size: 6rem;
            letter-spacing: 2px;
        }

        @media screen and (max-width: $break-medium){
            font-size: 8rem;
            letter-spacing: 2px;
        }
    }

    &--two{
        font-size: 2rem;
    }

    &--three{
        font-size: 4rem;
        letter-spacing: 10px;

        @media screen and (max-width: $break-small){
            letter-spacing: 5px;
        }
    }

    &--four{
        font-size: 3rem;
        letter-spacing: 2px;

      
    }
}

.button{
    padding: 2px;   
    border-radius: $borderRadius;
    opacity: 0.5;
    transition: opacity $transitionTime;

    &--left{
        background-image: $mainGradient;
    }
    &--right{
        background-image: $mainGradientReverse;
    }

    &:hover{
        opacity: 1;
    }

    &:active{
        transform: translate(0, 2px);
    }

}

.radio{
   
   &__input{display: none;}
   
   &__label{
     position: relative;
     margin-left: 40px;
     cursor: pointer;
    //  font-size: 1.5rem;
     transition: transform $transitionTime;

    // @media screen and (max-width: $break-medium){
    //     font-size: 1.7rem;
    // }

    // @media screen and (max-width: $break-small){
    //     font-size: 2.0rem;
    // }

     &:hover{
         transform: scale(1.05);
     }
     
     &:before, &:after{
        content: '';
        position: absolute;
        left: -30px;
        right: 0;
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 7px;
        border: 1px solid white;

        
        @media screen and (max-width: $break-medium){
            width: 22px;
            height: 22px;
            left: -26px;
            top: -3px
        }

        @media screen and (max-width: $break-small){
            width: 20px;
            height: 20px;
            left: -26px;
            top: -3px
        }
    
     }
     &:after{
        opacity: 0;
        transition: opacity $transitionTime;
     }
   }
   
    &__input:checked + &__label--category:after{
        opacity: 1;
        background-image: $mainGradient;
    }

   &__input:checked + &__label--subcategory:after{
        opacity: 1;
        background-image: $mainGradientReverse;
    }
 }

.backgroundImage{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;

background-size: cover;
background-position: center;
z-index: -1;

&--header{
    background-image: url(('../images/backgroundImages/backTestTwo.jpg'));
    // Photo by Camila Damásio on Unsplash
    filter: blur(2px);
}

&--breakdown{
    background-image: url(('../images/backgroundImages/backOne.jpg'));
    // Photo by Jakob Owens on Unsplash
    filter: blur(2px);
    z-index: -1;
}

&--priceLevel{
    background-image: url(('../images/backgroundImages/backTwo.jpg'));
    // Photo by Md. Zahid Hasan Joy on Unsplash
    filter: blur(2px) brightness(.45);
}

&--minmax{
    background-image: url(('../images/backgroundImages/backThree.jpg'));
    // Photo by Camila Damásio on Unsplash
    filter: blur(2px);
}
}

.loader{
    margin: 0 auto;
    @include loaderStyle;
    
    &--breakdown{
        width: 170px;
        height: 170px;  

        @media screen and (max-width: $break-small){
            width: 100px;
            height: 100px;  
        }
    }

    &--minmax{
        width: 100px;
        height: 100px;  

        @media screen and (max-width: $break-small){
            width: 80px;
            height: 80px;  
        }
    }

    &--stoped{
        animation-play-state: paused;
    }
    
    &__small{
        height: 100%;
        @include loaderStyle;

        &--stoped{
            animation-play-state: paused;
        }

        &--onlyBigscreen{
            @media screen and (max-width: $break-small){
                display: none;
            }
        }
    }
}

.scrollableList{
    border: 1px solid #b2bec3;
    transition: all .2s linear; 
    z-index: 2;
    
    &--hidden{
        opacity: 0;
        transform: scaleY(0);
    }
  
    &__box {
        height: 100%;
        padding: .5rem 0 0 .5rem;   
        list-style-type: none;
        overflow: hidden;
        overflow-y: scroll;
        box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.3);
        background-color: $blackBackground;


        @media screen and (max-width: $break-midmedium){
            background-color: rgba(0,0,0, .95);
        }

        &::-webkit-scrollbar {
        width: 1em;
        }

        &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-image: $mainGradientAlpha;
            outline: 1px solid slategrey;
        }
    }
  
    &__item {
        padding-bottom: 5px;
        text-align: center;
        transform: translate(.5em, 0);
    }
  
    &__button {
      cursor: pointer;
      transition: all 0.1s linear;
      font-size: inherit;

      &:hover {
        transform: scale(1.2);
      }
    }
}


@mixin hamburger-line {
    width: 100%;
    height: 3px;
    background-color: $colorWhite;
    position: absolute;
}
  
.hamburger {
    display: block;
    padding: 10px;
    cursor: pointer;
    transition: all .3s linear;
    
    &__box{
        width: 27px;
        height: 18px;
        display: inline-block;
        position: relative;
    }
    
    &__inner{
       @include hamburger-line;
    
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .1s ease-in-out;
    }
    
      
    &__inner::before, &__inner::after{
      @include hamburger-line;
      content: '';
      left: 0;
      transition: transform .2s ease-in-out;
    }
    
    &__inner::before {
      top: -10px;
    }
    
    &__inner::after {
      top: 10px;
    }
    
    &--active &__inner {
      background-color: transparent;
    }
  
    &--active &__inner:before {
      transform: translateY(10px) rotate(45deg);
    }
  
    &--active &__inner:after {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
