.heading{

    &--one{
        font-size: 6.5rem;
        letter-spacing: 5px;

        @media screen and (max-width: $break-medium){
            font-size: 6rem;
            letter-spacing: 2px;
        }

        @media screen and (max-width: $break-medium){
            font-size: 8rem;
            letter-spacing: 2px;
        }
    }

    &--two{
        font-size: 2rem;
    }

    &--three{
        font-size: 4rem;
        letter-spacing: 10px;

        @media screen and (max-width: $break-small){
            letter-spacing: 5px;
        }

    }

    &--four{
        font-size: 3rem;
        letter-spacing: 2px;

      
    }
}

.button{
    padding: 2px;   
    border-radius: $borderRadius;
    opacity: 0.5;
    transition: opacity $transitionTime;

    &--left{
        background-image: $mainGradient;
    }
    &--right{
        background-image: $mainGradientReverse;
    }

    &:hover{
        opacity: 1;
    }

    &:active{
        transform: translate(0, 2px);
    }

}

.radio{
    display: flex;
   
   &__input{display: none;}
   
   &__label{
     position: relative;
     margin-left: 40px;
     cursor: pointer;
     font-size: 1.5rem;
     transition: transform $transitionTime;

     @media screen and (max-width: $break-small){
        font-size: 1.8rem;
    }

     &:hover{
         transform: scale(1.05);
     }
     
     &:before, &:after{
        content: '';
        position: absolute;
        left: -30px;
        right: 0;
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 7px;
        border: 1px solid white;

        
        @media screen and (max-width: $break-medium){
            width: 22px;
            height: 22px;
            left: -26px;
            top: -3px
        }

        @media screen and (max-width: $break-small){
            width: 20px;
            height: 20px;
            left: -26px;
            top: -3px
        }
    
     }
     &:after{
        opacity: 0;
        transition: opacity $transitionTime;
     }
   }
   
    &__input:checked + &__label--category:after{
        opacity: 1;
        background-image: $mainGradient;
    }

   &__input:checked + &__label--subcategory:after{
        opacity: 1;
        background-image: $mainGradientReverse;
    }
 }

 //LOADER
.loader{
    margin: 0 auto;
    
    &--breakdown{
        width: 170px;
        height: 170px;  

        @media screen and (max-width: $break-small){
            width: 100px;
            height: 100px;  
        }
    }

    &--minmax{
        width: 100px;
        height: 100px;  

        @media screen and (max-width: $break-small){
            width: 80px;
            height: 80px;  
        }
    }

    @include loaderStyle;

    &--stoped{
        animation-play-state: paused;
    }
    
    & div{
      height: 100%;
    }
    
    &__small{
        @include loaderStyle;

        &--stoped{
            animation-play-state: paused;
        }
    }
}
 
.chartBreakdown{
    // width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px 450px;
    justify-content: center;
    
    @media screen and (max-width: $break-medium){
        grid-template-rows: 30px 80px 300px;

    }

    @media screen and (max-width: $break-small){
        grid-template-rows: 30px 80px 275px;
        align-items: center;
    }
    
    &__title{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }

    &__chartContainer{
        position: relative;
        height: 100%;
        width: 100%;   
    }

    &__loaderContainer{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        z-index: 2;

        &--hidden{
            display: none;
        }

    }
}

.breakdownCtrl{

    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px;
    align-items: center;

    grid-template-areas: 
    "catInput . subcatInput" 
    "leftButton centerText rightButton";

    @media screen and (max-width: $break-medium){
        grid-template-rows: 40px 35px;
    }
    @media screen and (max-width: $break-midmedium){
        grid-template-rows: 60px 35px;
    }
    @media screen and (max-width: $break-small){
        grid-template-rows: 30px 30px;
        grid-row-gap: .5rem;
        // justify-items: center;
    }

    &__button{
        font-size: 1.3rem;
        height: 90%;   

        &--left{grid-area: leftButton;}

        &--right{grid-area: rightButton;}

        @media screen and (max-width: $break-small){
            width: 90%;
            font-size: 1.75rem;
            justify-self: center;
        }
    }

    &__selection{
        grid-area: centerText;
        margin: 4px;

        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__mainSpan{
        font-size: 2rem;

        @media screen and (max-width: $break-small){
            font-size: 2.75rem;
        }
    }

    &__typeCtrl{

        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(1){
            grid-area: catInput;
        }
        &:nth-child(2){
            grid-area: subcatInput;
        }

        @media screen and (max-width: $break-midmedium){
            align-self: stretch;
            flex-direction: column;
            justify-content: space-around;
        }

        @media screen and (max-width: $break-small){
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__radioBox{
        margin-left: -7px;

        &:nth-child(1){
            grid-area: catInput;
        }

        &:nth-child(2){
            grid-area: subcatInput;
        }
    
    }

    &__counter{
        margin-right: 4px;
    }

    &__smallSpan{
        font-size: 1.4rem;
    }

}


//SECTION MINMAX
.minmaxBlock{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 160px 200px 200px;
    grid-template-areas: 
    "ctrl male female"
    "max maxMale maxFemale"
    "min minMale minFemale";

    @media screen and (max-width: $break-medium){
        margin-top: 3rem;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 90px 65px 200px 200px 66px 200px 200px;
        grid-template-areas: 
            "ctrl ctrl"
            "male male"
            "max maxMale"
            "min minMale"
            "female female"
            "maxTwo maxFemale"
            "minTwo minFemale";
    }

    &__item{
        background-color: rgba(0,0,0,0.5);
        padding: 10px;
        border-left: dashed 3px $colorWhite;
        border-bottom: dashed 3px $colorWhite;

        @media screen and (max-width: $break-small){
            border: dashed 1px $colorWhite;
        }

        &--controller{grid-area: ctrl;}
        &--male{grid-area: male;}
        &--female{grid-area: female;}
        &--max{grid-area: max;}
        &--min{grid-area: min;}
        &--maxMale{grid-area: maxMale;}
        &--maxFemale{grid-area: maxFemale;}
        &--minMale{grid-area: minMale;}
        &--minFemale{grid-area: minFemale;}
        &--maxTwo{
            display: none;
            @media screen and (max-width: $break-medium){
                display: block;
                grid-area: maxTwo;
            }
        }
        &--minTwo{
            display: none;
            @media screen and (max-width: $break-medium){
                display: block;
                grid-area: minTwo;
            }
        }
    }

    &__name{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 3rem;
        font-weight: 700;
        text-align: center;

        @media screen and (max-width: $break-medium){
            font-size: 4rem;
        }

        &--male{color: $colorMale;}
        &--female{color: $colorFemale;}
        &--max{color: $colorFemale;}
        &--min{color: $colorMale;}
        
    }

    &__shoesContainer{
        height: 100%;
        width: 100%;
    }
}

.minmaxCtrl{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    align-items: center;
    grid-template-areas: 
    "catInput subcatInput" 
    "leftButton rightButton"
    "centerText centerText";
    

    @media screen and (max-width: $break-medium){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 35px 35px;

        grid-template-areas: 
        "catInput centerText leftButton"
        "subcatInput centerText rightButton";
    }
   

    &__button{
        font-size: 1.3rem;
        height: 70%;   
        width: 90%;   

        &--left{grid-area: leftButton;}

        &--right{grid-area: rightButton;}

        @media screen and (max-width: $break-medium){
            margin: 0 auto;
            width: 60%;
        }

        @media screen and (max-width: $break-small){
            width: 90%;
            font-size: 1.75rem;
            justify-self: center;
        }
    }

    &__selection{
        grid-area: centerText;
        margin: 4px;

        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__mainSpan{
        font-size: 2rem;

        @media screen and (max-width: $break-medium){
            font-size: 3rem;
        }

        @media screen and (max-width: $break-small){
            font-size: 2.75rem;
        }
    }

    &__typeCtrl{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &:nth-child(1){
            grid-area: catInput;
        }
        &:nth-child(2){
            grid-area: subcatInput;
        }

        @media screen and (max-width: $break-medium){
            width: 50%;
            margin: 0 auto;
            flex-direction: row;
        }

        @media screen and (max-width: $break-midmedium){
            width: 75%;
        }

        @media screen and (max-width: $break-small){
            width: 90%;
        }
    }

    &__radioBox{
        margin-left: -7px;
        margin-bottom: 4px;

        &:nth-child(1){
            grid-area: catInput;
        }

        &:nth-child(2){
            grid-area: subcatInput;
        }
   
    }

    &__radioBox .radio__label{
        font-size: 1.2rem;

        @media screen and (max-width: $break-medium){
            font-size: 1.5rem;
        }
    }

    &__counter{
        margin-right: 4px;
    }

    &__smallSpan{
        font-size: 1.2rem;
        @media screen and (max-width: $break-medium){
            font-size: 1.5rem;
        }
    }

}

.shoesContainer{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "firstName price"
    "cat image"
    "subcat image";
    justify-items: center;
    align-items: center;
    
    text-align: center;

    @media screen and (max-width: $break-small){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "firstName price"
            "cat subcat"
            "image image";
    }

    &__category{
        &::before{content: "Kategoria: ";}
        grid-area: cat;
        font-size: 1.5rem;

        @media screen and (max-width: $break-medium){
            font-size: 2rem;
        }
    }

    &__subcategory{
        &::before{content: "Podkategoria: ";}
        grid-area: subcat;
        font-size: 1.5rem;

        @media screen and (max-width: $break-medium){
            font-size: 2rem;
        }
    }

    &__firstName{
        grid-area: firstName;
        font-size: 2rem;
    }

    &__price{
        &::after{content: " zł";}
        grid-area: price;
        font-size: 3rem;

    }

    &__imageContainer{
        position: relative;
        // justify-self: stretch; 
        align-self: stretch;
        grid-area: image;
        height: 100%;
        width: 100%;

        @media screen and (max-width: $break-small){
            margin: 0 3rem;
        }
    }

    &__image{
        position: relative;
        display: block;
        margin: auto;
        height: 100%;   
        z-index: 1;

        @media screen and (max-width: $break-small){
            width: 50%;   
            // height: 50%;   
        }
    }

    &__loaderContainer{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        z-index: 2;

        &--hidden{
            // visibility: hidden;
            display: none;
        }

    }
}


//SECTION PRICE LEVEL
.chart-boxplot{
    position: relative;

    &__rect{
        fill: #fff;
        stroke: #fff;
        
        &:hover{
            cursor: pointer;
            fill: lighten($color: #e84393, $amount: 5);
        }

        &--male{
            fill: #0984e3,
        }
        &--female{
            fill: #e84393;
        }
    }
    
    &__median, &__minLine, &__maxLine, &__verticalLine{
        stroke: white;
    }

    &__outlierMax{
        fill: #0984e3;
        stroke: #fff;
        opacity: .5;

        &--male{
            fill: #0984e3,
        }
        &--female{
            fill: #e84393;
        }
    }
}

.boxplotTooltip{
    position: absolute;
    left: 0px;
    top: 25px;
    z-index: 1;
    visibility: hidden;

    width: 100px;
    height: 70px;
    padding: 0 12px;

    opacity: 0;
    background-color: rgba(#0984e3,.8);
    border: 1px solid white;
    border-radius: 25px;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__box{
        display: flex;
        justify-content: space-between;
    }

    &__label, &__value{
        font-size: 12px;
    }
}
