.heading{

    &--one{
        font-size: 10rem;
        letter-spacing: 10px;

        @media screen and (max-width: $break-medium){
            font-size: 8rem;
            letter-spacing: 2px;
        }
    }

    &--two{
        font-size: 2rem;
    }

    &--three{
        font-size: 4rem;
        letter-spacing: 10px;

        @media screen and (max-width: $break-small){
            letter-spacing: 5px;
        }

    }

    &--four{
        font-size: 3rem;
        letter-spacing: 2px;

      
    }
}

.topBar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    padding: 0 2rem;
    background-color: rgba(31, 2, 2, 0.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    // transform: translateY(-100%);
    // animation: entryAnimation__topBar 0.5s forwards 2s;

    @media screen and (max-width: $break-small){
        padding: 0;
    }
   

    &__title{

        @media screen and (max-width: $break-small){
            opacity: 0;
            width: 0;
        }

    }
    
    &__nav{
        @media screen and (max-width: $break-small){
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    &__list{
        display: flex;
        list-style: none;

        @media screen and (max-width: $break-small){
            width: 100%;
            justify-content: space-around;
        }
    }

    &__item{
        margin-right: 5px;
        height: 5rem;
        cursor: pointer;

        transition: background-color .2s;
        &:hover{
            background-color: rgba(31, 2, 2, 0.5);
        }
    }

    &__link{
        display: block;
        width: 100%;
        padding: 0 .4rem;

        color: $colorFont;
        text-decoration: none;

        text-align: center;
        line-height: 5rem;
        font-size: 1.6rem;

        &:focus{
            outline: auto;
        }

        &:active{
            transform: translate(0, 2px);
        }
    }
}

.chartBlock{
    
    &__title{
        height: 10%;   
        width: 100%;
        text-align: center;
       
        @media screen and (max-width: $break-small){
            height: 5%;   
        }
    }

    &__chartContainer{
        height: 90%;
        width: 100%;   

        @media screen and (max-width: $break-small){
            height: 95%;   
        }
    }

}

//HEADER
.centerBox{
    position: relative;
    display: flex;
    flex-wrap: wrap;

    

    &__block{
        width: 50%;
        height: 50%;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $break-small){

            &--one{order: 1;
            }
            &--two{order: 4;
                width: 100%;
            }
            &--three{order: 3;
                width: 100%;
            }
            &--four{order: 2;
            }
        }
     
    }

    &__title{
        opacity: 1;
        // opacity: 0;
        // animation: entryAnimation__text 1s forwards 1s;


        &--female{
            color: $colorFemale;
            text-shadow: 2px 2px 10px $colorBlack;
        }
    
        &--male{
            color: $colorMale;
            text-shadow: 2px 2px 10px $colorBlack;
        }
    }

    &__image{
        display: block;
        width: 100%;
        height: 100%;

        transform: scale(1);
        // transform: scale(0);
        // animation: entryAnimation__image 1s forwards;

        @media screen and (max-width: $break-medium){
            width: 85%;
            height: 85%;
        }

        @media screen and (max-width: $break-small){
            width: 70%;
        }

        &--male{
            fill: $colorFemale;
            -webkit-filter: drop-shadow( 3px 3px 2px $colorBlack);
            filter: drop-shadow( 3px 3px 2px $colorBlack);
        }

        &--female{
            fill: $colorMale;
            -webkit-filter: drop-shadow( 3px 3px 2px $colorBlack);
            filter: drop-shadow( 3px 3px 2px $colorBlack);
        }   
    }
    
    &__authorInfo{
        position: absolute;

        &--one{
            top: -5%;
            right: 0;
        }

        &--two{
            bottom: -5%;
            left: 0;
        }
        
    }

    &__authorLink{
        text-decoration: none;
        font-size: 1.2rem;

        &--one{
            color: $colorFont;

            &:hover{
                color: $colorMale;
            }
        }

        &--two{
            color: $colorFont;

            &:hover{
                color: $colorFemale;
            }
        }
    }   
   

}

//SECTION BREAKDOWN
.chart-sexDivide{


    &__labels{
        fill: $colorBlack;
        text-anchor: middle;
        font-size: 2rem;
        font-weight: 700;
    }

    &__centerText{

        fill: $colorFont;
        text-anchor: middle;
        text-shadow: $textShadow;
        
        &--small{
            font-size: 1.5rem;
        }
        
        &--big{
            
            font-size: 3.7rem;
        }
    }
}

//SECTION MINMAX
.minmaxBlock{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 80px 200px 200px;
    grid-template-areas: 
    ". men women"
    "max maxMen maxWomen"
    "min minMen minWomen";

    &__item{
        background-color: rgba(0,0,0,0.5);
        padding: 10px;
        border-left: dashed 3px $colorWhite;
        border-bottom: dashed 3px $colorWhite;

        &--men{grid-area: men;}
        &--women{grid-area: women;}
        &--max{grid-area: max;}
        &--maxMen{grid-area: maxMen;}
        &--maxWomen{grid-area: maxWomen;}
        &--min{grid-area: min;}
        &--minMen{grid-area: minMen;}
        &--minWomen{grid-area: minWomen;}

    }

    &__name{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 3rem;
        font-weight: 700;

        &--male{color: $colorMale;}
        &--female{color: $colorFemale;}
        &--max{color: $colorFemale;}
        &--min{color: $colorMale;}
        

    }


    &__shoesContainer{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        justify-items: center;
        align-items: center;
    }

    &__category{
        &::before{content: "Kategoria: ";}
        font-size: 1.5rem;
    }
    &__subcategory{
        &::before{content: "Podkategoria: ";}
        font-size: 1.5rem;
    }

    &__firstName{
        font-size: 2rem;
    }
    &__price{
        font-size: 3rem;

        &::after{
            content: " zł";
        }
    }

}

.chart{

    &__title{

    }

    &__container{
        width: 400px;
        height: 400px;
        border: 1px solid white;

        &--priceCategory{
            width: 700px;
            
        }
    }

}

.chart-priceCategory, .chart-priceCatBoxChart{

    //AXIS
    &__axisLine{

        font-size: 15px;
        
        &--yLine{

            & path{
                stroke: white;
                opacity: .2;
            }

             & .tick line{
                opacity: .1;
             }

             & .tick text{
                opacity: 1;
            }
        }

        &--xLine{

            & path{
                stroke: white;
                stroke-width: .2px;
            }

            & .tick line{
                color: white;
            }
            & .tick line{
                stroke-width: .2px;
            }
        }
    }
    

    &__rect{
        fill: rgba(199, 12, 12, 1);
        stroke: white;

        &:hover{
            cursor: pointer;
            fill: rgb(226, 15, 15);
        }
    }


    &__verline, &__median, &__maxline, &__minline{
        stroke: white;
        fill: none;
    }

    &__circle{
        fill: rgba(12, 24, 199, 0.25);

    }


}