.header{
    position: relative;
    height: 100vh;
    background-image: $mainGradient;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $break-midmedium){
        height: auto;
        padding: 2.5rem 0;
    }

    &__centerBox{
        width: 95%;
        height: 75%;

        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    &__block{
        width: 50%;
        height: 50%;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $break-midmedium){
            width: 100%;   

            &--one{order: 2;}
            &--two{order: 4;}
            &--three{order: 1;}
            &--four{order: 3;}
        }
     
    }

    &__title{
        opacity: 1;
        // opacity: 0;
        // animation: entryAnimation__text 1s forwards 1s;


        &--female{
            color: $colorFemale;
            text-shadow: 2px 2px 10px $colorBlack;
        }
    
        &--male{
            color: $colorMale;
            text-shadow: 2px 2px 10px $colorBlack;
        }
    }

    &__image{
        display: block;
        width: 100%;
        height: 100%;

        // transform: scale(1);
        transform: scale(0);
        animation: entryAnimation__image 1s forwards;

        @media screen and (max-width: $break-medium){
            width: 85%;
            height: 85%;
        }

        @media screen and (max-width: $break-midmedium){
            width: 45%;
        }

        &--male{
            fill: $colorFemale;
            -webkit-filter: drop-shadow( 3px 3px 2px $colorBlack);
            filter: drop-shadow( 3px 3px 2px $colorBlack);
        }

        &--female{
            fill: $colorMale;
            -webkit-filter: drop-shadow( 3px 3px 2px $colorBlack);
            filter: drop-shadow( 3px 3px 2px $colorBlack);
        }   
    }
}

.topBar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    padding: 0 2rem;
    background-color: rgba(31, 2, 2, 0.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
 
    @media screen and (max-width: $break-midmedium){
        position: absolute;
        padding: 0;
    }

    &__title{
        @media screen and (max-width: $break-midmedium){
            opacity: 0;
            width: 0;
        }
    }
    
    &__nav{
        @media screen and (max-width: $break-midmedium){
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &__list{
        display: flex;
        list-style: none;

        @media screen and (max-width: $break-midmedium){
            width: 100%;
            justify-content: space-around;
        }
    }

    &__item{
        margin-right: 5px;
        height: 5rem;
        cursor: pointer;
        transition: background-color $transitionTime;

        @media screen and (min-width: $break-small){
            &:hover{
                background-color: rgba(31, 2, 2, 0.5);
            }
        }
     
        &--bigScreenOnly{
            @media screen and (max-width: $break-midmedium){
                display: none;
            }
        }
    }

    &__link{
        display: block;
        width: 100%;
        padding: 0 .4rem;

        color: $colorFont;
        text-decoration: none;

        text-align: center;
        line-height: 5rem;
        font-size: 1.6rem;

        @media screen and (max-width: $break-small){
            font-size: 2rem;
        }

        &:focus{
            outline: auto;
        }

        &:active{
            transform: translate(0, 2px);
        }
    }
}

.section{
    position: relative;
    padding: 5.5rem .5rem .5rem .5rem;

    @media screen and (max-width: $break-midmedium){
        padding: .5rem;
    }
}

