.header{
    position: relative;
    height: 100vh;
    background-image: $mainGradient;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $break-small){
        height: auto;
        padding-top: 5rem;
    }

    &__centerBox{
        width: 80%;
        height: 75%;
    }


}

.section{
    position: relative;
    height: 100vh;
    padding-top: 5.5rem;
    padding: 5.5rem .5rem .5rem .5rem;

    display: flex;
    flex-wrap: wrap;

    &__background{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(('../images/backOne.jpg'));
        // <!-- Photo by Jakob Owens on Unsplash -->
        background-size: cover;
        background-position: center;
        filter: blur(2px);
        z-index: -1;

    }

    &__title{
        height: 5rem;
        width: 100%;
        // text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__chartBlock{

        &--half{
            width: 50%;
            height: 600px;

            // background-color: rgba(194, 4, 4, 0.582);
        }
    }

}