.header{
    position: relative;
    height: 100vh;
    background-image: $mainGradient;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $break-small){
        height: auto;
        padding-top: 5rem;
    }

    &__centerBox{
        width: 80%;
        height: 75%;
    }


}

.section{
    position: relative;
    height: 100vh;
    padding: 5.5rem .5rem .5rem .5rem;

    display: flex;
    flex-wrap: wrap;

    &--breakdown{
        @media screen and (max-width: $break-small){
            height: auto;
            flex-direction: column;
        }
    }

    &--minmax{
        background-image: $mainGradient;

    }

    &__background{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &--breakdown{
            background-image: url(('../images/backOne.jpg'));
            // <!-- Photo by Jakob Owens on Unsplash -->
            background-size: cover;
            background-position: center;
            filter: blur(2px);
            z-index: -1;
        }
    }

    &__title{
        height: 5rem;
        width: 100%;
        // text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__chartBlock{

        &--half{
            width: 50%;
            height: 600px;
            // background-color: rgba($color: rgb(0, 0, 0), $alpha: .5);
            // border: 1px solid white;

            @media screen and (max-width: $break-small){
                width: 100%;
                // height: auto;
                height: 300px;
                margin-bottom: 1rem;
            }

        }
    }

}

