.header{
    position: relative;
    height: 100vh;
    background-image: $mainGradient;

    display: flex;
    justify-content: center;
    align-items: center;

    &__centerBox{
        width: 80%;
        height: 75%;
        // border: solid 1px white;
    }


}